a{
    color: #000000;
    text-decoration: none;
}

.header{
    position: fixed;
    top: 0;
    left: 0;

    width: 180px;
    height: 100%;
}

.container{
    width: auto;
    padding-left: 180px;
}

.tab_navigator{
    padding: {
        left: 24px;
        right: 10px;
    }
}

.profile{
    margin: {
        top: 6px;
        bottom: 6px;
    }

    border: {
        top: 1px solid #000000;
        bottom: 1px solid #000000;
    }

    &_signin{
        display: block;
        margin: auto;

        height: 22px;

        padding: {
            top: 8px;
            left: 6px;
            right: 6px;
            bottom: 8px;
        }

        font-size: 18px;
    }
}

.menu{
    &_item{
        padding: {
            top: 8px;
            left: 6px;
            right: 6px;
            bottom: 8px;
        }

        &_link{
            display: block;
            margin: auto;

            font: {
                size: 22px;
                weight : bold;
            }
        }
    }
}